#google {
    background-image: url(icons/google.jpg);
    background-position: center;
    background-size: cover;
}
#windy {
    background-image: url(icons/windy.png);
    background-position: center;
    background-size: cover;
}
#netflix {
    background-image: url(icons/netlix.jpg);
    background-position: center;
    background-size: cover;
}
#youtube {
    background-image: url(icons/youtube.png);
    background-position: center;
    background-size: cover;
}
#reddit {
    background-image: url(icons/reddit.svg);
    background-position: center;
    background-size: cover;
}
#amazon {
    background-image: url(icons/amazon.gif);
    background-position: center;
    background-size: cover;
}
#deviantart {
    background-image: url(icons/deviantart.png);
    background-position: center;
    background-size: cover;
}
#mods {
    background-image: url(icons/5mods.png);
    background-position: center;
    background-size: cover;
}
#tradutor {
    background-image: url(icons/translate.jpg);
    background-position: center;
    background-size: cover;
}
#nexus {
    background-image: url(icons/nexus.png);
    background-position: center;
    background-size: cover;
}
#curso {
    background-image: url(icons/curso.png);
    background-position: center;
    background-size: cover;
}
#prime {
    background-image: url(icons/prime.png);
    background-position: center;
    background-size: cover;
}
#music {
    background-image: url(icons/music.png);
    background-position: center;
    background-size: cover;
}
#twitch {
    background-image: url(icons/twitch.png);
    background-position: center;
    background-size: cover;
}
#zoom {
    background-image: url(icons/zoom.jpg);
    background-position: center;
    background-size: cover;
}
#colors {
    background-image: url(icons/colors.jpg);
    background-position: center;
    background-size: cover;
}
#github {
    background-image: url(icons/github.svg);
    background-position: center;
    background-size: cover;
}
#art {
    background-image: url(icons/art.png);
    background-position: center;
    background-size: cover;
}
#thesims {
    background-image: url(icons/thesims.jpg);
    background-position: center;
    background-size: cover;
}
#codex {
    background-image: url(icons/codex.png);
    background-position: center;
    background-size: cover;
}
